APP_BOT_TOKEN=your_bot_token_here
APP_IDENTIFIER=your_client_id_here
MAIN_SERVER_ID=your_guild_id_here
ADMINISTRATOR_IDS=your_discord_id_here
PAYMENT_GATEWAY_PUBLIC=your_paypal_client_id_here
PAYMENT_GATEWAY_SECRET=your_paypal_client_secret_here
PAYMENT_API_ENDPOINT=https://api-m.sandbox.paypal.com
PAYMENT_ENV=sandbox
INVOICE_BRANDING_NAME="Hattab"